<div class="container dynamicHeight">
  <h1>Immersive Van Gogh Painting</h1>
  <h2>Experience the art like never before</h2>
  <div class="button-container">
    <button class="btn" routerLink="/basic">Basic Version</button>
    <button class="btn" routerLink="/vr">VR Version</button>
  </div>
  <div class="info-container">
    <div>
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
        ></path>
      </svg>
    </div>
    <p>
      <span class="important">The VR Version</span> uses a gyroscope to move the
      camera and
      <span class="important"
        >may not work on computers and some older mobile devices.</span
      >
      But don't worry! Basic Version allows for moving the camera with the mouse
      or finger.
    </p>
  </div>
</div>
