.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #25233a;
  padding: 1.5rem;
  box-sizing: border-box;

  h1 {
    font-size: 3rem;
    color: #ccd6f6;
    line-height: 1.2;
    margin: 0;
    text-align: center;

    @media (min-width: 900px) {
      font-size: 4.5rem;
    }
  }

  h2 {
    font-size: 2rem;
    color: #8892b0;
    line-height: 1.2;
    margin: 0.5rem 0;
    text-align: center;

    @media (min-width: 900px) {
      font-size: 2.5rem;
    }
  }

  .button-container {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
    }

    .btn {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border: 2px solid #8892b0;
      border-radius: 5px;
      background: transparent;
      color: #ccd6f6;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: #8892b0;
        color: #25233a;
      }
    }

    .file-upload-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.5rem;

      svg {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }

  .info-container {
    color: #ccd6f6;
    display: flex;
    gap: 1rem;
    background-color: #35324a;
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 3rem;
    align-items: flex-start;
    max-width: 50rem;

    div {
      min-height: 1.5rem;
      min-width: 1.5rem;
    }

    p {
      margin: 0;
    }

    .important {
      text-decoration: underline;
      font-weight: 500;
    }
  }
}

.supported {
  min-height: 100svh;
}

.not-supported {
  min-height: 100vh;
}
