<div class="container dynamicHeight">
  <div class="header">
    <h1>360° VR Image Viewer</h1>
    <h2>Click 'Launch' and use default image, or upload your own!</h2>
  </div>
  <div class="file-upload-container">
    <input
      type="file"
      (change)="fileUploadService.onFileSelected($event)"
      accept="image/png, image/jpeg, image/jpg, image/webp, image/gif, image/jiff"
      id="fileUpload"
      hidden
    />
    <div class="format-info">
      <span>Supported formats:</span>
      <span>png, jpeg, jpg, webp, gif, jiff</span>
    </div>

    <label for="fileUpload" class="btn file-upload-btn">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
        ></path>
      </svg>
      Upload
    </label>

    <span class="file-name" *ngIf="fileUploadService.selectedImageName === null"
      >You didn't upload any image yet
    </span>
    <span class="file-name" *ngIf="fileUploadService.selectedImageName !== null"
      >{{
        fileUploadService.selectedImageName
      }}
      AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </span>
  </div>
  <button class="btn" routerLink="/vr">
    <svg
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"
      ></path>
    </svg>
    Launch
  </button>
</div>
